#card {
    display: flex;
    text-align: center;

}

.clearfix > p {
 text-align: center;
 font-size: 25px;
 padding-top: 150px;
}

.col   >h1{
    text-align: center;
}

.col   >h4{
    text-align: center;
}