*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}

/* --jet: #343434ff;
--cadet-blue: #729ea1ff;
--charcoal: #304d63ff;
--eerie-black: #161616ff;
--sandy-brown: #ee964bff; */
