label {
    font-weight: 900;
    color: white;
}

.api-hunt-input {
    color: #dfdfdf;
    background-color: #0c0c0c;
    border-color: #474747;
    border-radius: 5px;
}

.api-hunt-input:focus {
    color: white;
    border-width: 2px;
    background-color: #0c0c0c;
    border-color: #7ED957;
}

.form-control.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}
