body{
    background-color: black;
}

.li-api-hunt {
    color: white;
    background-color: #0c0c0c;
}

.card-api-hunt {
    color: white;
    border-width: 2px;
    border-radius: 8px;
    background-color: #0c0c0c;
    border-color: #7ED957;
}

footer{
    margin-top: 70px;
}
